---
import Header from "../components/Header";
import Footer from "../components/Footer";
import CCPAForm from '../components/california-policy-components/CCPAForm'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="../../AlderFavicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="Privacy policy of Alder Holdings, LLC"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Alder Home Security</title>
    </head>
    <body class="bg-white flex flex-col items-center justify-center">
        <Header client:load path="/california-policy" />

        <div class="w-full max-w-6xl flex flex-col gap-8 py-12 px-4">
            <h1 class="text-[#58585B] font-medium text-5xl">
                Privacy Notice for Residents of California
            </h1>

            <div class="w-full flex gap-16">
                <p class="text-[#58585B] font-medium">
                    Effective: January 1, 2020
                </p>

                <p class="text-[#58585B] font-medium">
                    Last Revised: January 9, 2020
                </p>
            </div>

            <p class="text-[#58585B] leading-7">
                This document shall constitute a Notice of Privacy for
                California Residents and shall apply to all consumers who reside
                in the State of California who interact with Alder Home. This
                notice shall supplement the information found in our existing <a
                    href="/privacy"
                    class="underline text-[#297CA3]">Privacy Policy</a
                > found on our website at <a
                    href="https://www.alder.com/privacy"
                    class="underline text-[#0F6085]">www.alder.com/privacy</a
                >. This notice is intended to comply with the California
                Consumer Privacy Act of 2018 (CCPA). Terminology defined in the
                CCPA is defined the same here. No provision of this Notice may
                be construed to provide consumers any rights (or our company any
                obligations) beyond those required by the CCPA and other
                applicable law.
            </p>

            <p class="text-[#58585B] leading-7">
                <span class="underline">Disabled consumers</span> who need these
                disclosures presented in an alternate medium, may contact us at the
                email address or telephone number listed further below.
            </p>

            <p class="text-[#58585B] leading-7 underline">
                Personal Information That We Collect
            </p>

            <p class="text-[#58585B] leading-7">
                By providing your personal information to us, asking to be
                contacted or using us to interact with a third party, you are
                also specifically directing us to disclose your information to
                any third-parties listed, along with others who we feel may have
                information or offers which may be of interest to you.
            </p>

            <p class="text-[#58585B] leading-7">
                We collect personal information directly from you and by
                observing your interactions on our website which identifies,
                relates to, describes and/or is capable of being associated with
                or could reasonably be linked, directly or indirectly, with a
                particular consumer, household or device. In the last twelve
                months we have collected the categories of information listed
                below. We will not collect additional categories of personal
                information or use the personal information we collected for
                materially different, unrelated, or incompatible purposes
                without providing you notice. The following is an overview of
                information defined by the CCPA as personal information.
            </p>

            <section class="border-[1px] border-black w-full flex flex-col">
                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        A. Unique personal indentifiers
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        A real name, account name, address, alias, bank account
                        number, credit card number, email address, debit card
                        number, driver's license number, insurance policy
                        number, internet Protocol address, passport number,
                        physical characteristics or description, postal address,
                        online identifier, signature, Social Security number,
                        state identification card number, telephone number,
                        unique personal identifier, or other similar
                        identifiers.
                    </p>
                </div>

                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        B. Characteristics of protected classifications under
                        California or federal law
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        Age (40 years or older), ancestry, citizenship, color,
                        disability (physical or mental), marital status, medical
                        condition, national origin, race, religion or creed, sex
                        (including gender, gender identity, gender expression,
                        pregnancy or childbirth and related medical conditions),
                        sexual orientation, veteran or military status, genetic
                        information (including familial genetic information).
                    </p>
                </div>

                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        C. Commercial information
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        Products or services considered, obtained or purchased,
                        purchasing or consuming histories or tendencies, records
                        of personal property.
                    </p>
                </div>

                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        D. Biometric information
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        Activity patterns used to extract a template,
                        behavioral, biological, genetic or physiological
                        characteristics, other identifiers or identifying
                        information eg:, face, finger or voiceprints, gait
                        tendencies, health information like exercise or sleep
                        information, iris or retina scans, keystrokes or other
                        physical patterns.
                    </p>
                </div>

                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        E. Internet or other electronic network activity
                        information
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        Browsing history, search history, information regarding
                        interaction with advertisements, applications or
                        websites.
                    </p>
                </div>

                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        F. Geolocation information
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        Physical location or movements including trends.
                    </p>
                </div>

                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        G. Sensory information
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        Audio, electronic, visual, thermal, olfactory or similar
                        data.
                    </p>
                </div>

                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        H. Professional or employment related information
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        Past or present job history, performance evaluations.
                    </p>
                </div>

                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        I. Non-public / Private (non-public) educational
                        information protected by the Educational Rights and
                        Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part
                        99)).
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        Class lists, disciplinary records, financial
                        information, grades, identification codes, schedules,
                        transcripts or other information directly related to a
                        student which is collected by educational institutions
                        or agencies acting on their behalf.
                    </p>
                </div>

                <div
                    class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        J. Inferences or conclusions drawn from personal
                        information
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        Profiles reflecting an individual’s abilities,
                        attitudes, aptitudes, behavior, characteristics,
                        intelligence, predispositions, preferences,
                        psychological trends etc.
                    </p>
                </div>

                <div
                    class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                >
                    <p class="text-[#58585B] w-full md:w-1/3">
                        K. Personal Information not governed by the CCPA
                    </p>

                    <p class="text-[#58585B] w-full md:w-2/3">
                        De-identified or aggregated consumer information,
                        information excluded from the CCPA's scope (eg: health
                        or medical information covered by the Health Insurance
                        Portability and Accountability Act of 1996 (HIPAA) and
                        the California Confidentiality of Medical Information
                        Act (CMIA) or clinical trial data). Personal information
                        covered by certain sector-specific privacy laws,
                        including the Fair Credit Reporting Act (FRCA), the
                        Gramm-Leach-Bliley Act (GLBA) or California Financial
                        Information Privacy Act (FIPA), and the Driver's Privacy
                        Protection Act of 1994, publicly available information
                        from government records.
                    </p>
                </div>
            </section>

            <section class="flex flex-col gap-8 w-full">
                <h2 class="text-[#58585B] underline">
                    We obtain personal information from the following categories
                    of sources
                </h2>

                <div class="w-full flex flex-col border-[1px] border-black">
                    <div class="border-b border-black p-8">
                        <p class="text-[#58585B]">
                            A. Client or their agents, directly or indirectly
                        </p>
                    </div>

                    <div class="border-b border-black p-8">
                        <p class="text-[#58585B]">
                            B. Government entities from which public records are
                            obtained
                        </p>
                    </div>

                    <div class="border-b border-black p-8">
                        <p class="text-[#58585B]">
                            C. Third parties, advertising networks, consumer
                            data resellers, data analytics providers, government
                            entities, internet service providers, social
                            networks, operating systems and platforms.
                        </p>
                    </div>

                    <div class=" p-8">
                        <p class="text-[#58585B]">
                            D. Website interactions from our contact us and
                            other web forms.
                        </p>
                    </div>
                </div>
            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    How We Use Personal Information regulated by the CCPA
                </h2>

                <div class="border-[1px] border-black w-full flex flex-col">
                    <div
                        class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                    >
                        <p class="text-[#58585B] w-full md:w-1/3">
                            A. As described upon collection of information
                        </p>

                        <p class="text-[#58585B] w-full md:w-2/3">
                            As set forth in the CCPA.
                        </p>
                    </div>

                    <div
                        class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                    >
                        <p class="text-[#58585B] w-full md:w-1/3">
                            B. Complying with the law
                        </p>

                        <p class="text-[#58585B] w-full md:w-2/3">
                            Obeying the court, law and government regulations,
                            responding to requests from law enforcement and
                            other governing bodies.
                        </p>
                    </div>

                    <div
                        class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                    >
                        <p class="text-[#58585B] w-full md:w-1/3">
                            C. Fulfill requests, the reason you provided the
                            information
                        </p>

                        <p class="text-[#58585B] w-full md:w-2/3">
                            Answering questions, facilitating delivery,
                            fulfilling purchases, providing information on
                            products or services, price quotes, processing
                            payments and transactions, processing product
                            orders, processing returns. This includes, for
                            example, when you make a request online to receive
                            offers via email or telephone, or when you request
                            or agree during one of our phone calls, to be
                            transferred to a third-party product or service
                            seller to receive such offers.
                        </p>
                    </div>

                    <div
                        class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                    >
                        <p class="text-[#58585B] w-full md:w-1/3">
                            D. Maintaining safety and security
                        </p>

                        <p class="text-[#58585B] w-full md:w-2/3">
                            Preventing theft of information, products and
                            services as well as technological resources and
                            preventing transactional fraud.
                        </p>
                    </div>

                    <div
                        class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                    >
                        <p class="text-[#58585B] w-full md:w-1/3">
                            E. Personalizing the customer experience
                        </p>

                        <p class="text-[#58585B] w-full md:w-2/3">
                            Personalizing your experience to deliver content,
                            product and service offerings relevant to your
                            interests (eg; targeting offers and ads through our
                            website, third-party sites and via email or text
                            messaging –with your consent, where required by
                            law).
                        </p>
                    </div>

                    <div
                        class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                    >
                        <p class="text-[#58585B] w-full md:w-1/3">
                            F. Product development
                        </p>

                        <p class="text-[#58585B] w-full md:w-2/3">
                            Product, service and website improvement, research
                            and analysis
                        </p>
                    </div>

                    <div
                        class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                    >
                        <p class="text-[#58585B] w-full md:w-1/3">
                            G. Providing support
                        </p>

                        <p class="text-[#58585B] w-full md:w-2/3">
                            Developing and personalizing our products, services
                            and website, investigating and addressing concerns,
                            monitoring and improving responses
                        </p>
                    </div>

                    <div
                        class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                    >
                        <p class="text-[#58585B] w-full md:w-1/3">
                            H. Restructuring
                        </p>

                        <p class="text-[#58585B] w-full md:w-2/3">
                            Evaluating or conducing mergers, divestures,
                            reorganization, sale or transfer or assets in the
                            event of bankruptcy, liquidation, etc.
                        </p>
                    </div>
                </div>
            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    Sharing Personal Information
                </h2>

                <p class="text-[#58585B]">
                    We may disclose your personal information to a third party
                    (eg: Service providers and data aggregators) for a business
                    purpose. When we disclose your information for business
                    purposes our contracts state the purpose and requires all
                    parties use personal information for the sole purpose of
                    executing the contract and also that all personal
                    information be kept confidential.
                </p>
            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    Personal Information Disclosed in the Last 12 Months
                </h2>

                <p class="text-[#58585B]">
                    In the last twelve months, we have disclosed the categories
                    of personal information below for a business purpose.
                </p>

                <div class="w-full flex flex-col md:flex-row justify-between">
                    <div
                        class="w-full md:w-[45%] flex-col h-min border-b-0 md:border-b-[1px] border-[1px] border-black"
                    >
                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                A. Biometric information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                B. Characteristics of protected classifications
                                under California or federal law?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                C. Commercial information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">Yes</p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                D. Geolocation information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                E. Inferences or conclusions drawn from personal
                                information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>
                    </div>
                    <div
                        class="w-full md:w-[45%] flex-col border-[1px] border-black"
                    >
                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                F. Internet or other electronic network activity
                                information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                G. Non-public / Private (non-public) educational
                                information protected by the Educational Rights
                                and Privacy Act (20 U.S.C. Section 1232g, 34
                                C.F.R. Part 99))?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full flex flex-col border-b border-black md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                H. Professional or employment related
                                information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full flex flex-col border-b border-black md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                I. Sensory information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                J. Unique personal identifiers?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">Yes</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    Personal Information Sold in the Last 12 Months.
                </h2>

                <p class="text-[#58585B]">
                    In the last twelve months we have sold the categories below
                    of personal information for a business purpose. <span
                        class="italic"
                        >Note that under the CCPA, a business does not “sell”
                        personal information when a consumer uses or directs the
                        business to intentionally disclose personal information
                        or uses the business to intentionally interact with a
                        third party, provided the third party does not also sell
                        the personal information, unless that disclosure would
                        be consistent with the provisions of this title. An
                        intentional interaction occurs when the consumer intends
                        to interact with the third party, via one or more
                        deliberate interactions.</span
                    >
                </p>

                <div class="w-full flex flex-col md:flex-row justify-between">
                    <div
                        class="w-full md:w-[45%] flex-col h-min border-b-0 md:border-b-[1px] border-[1px] border-black"
                    >
                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                A. Unique personal identifiers?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">Yes</p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                B. Characteristics of protected classifications
                                under California or federal law?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                C. Commercial information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">Yes</p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                D. Biometric information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                E. Internet or other electronic network activity
                                information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>
                    </div>
                    <div
                        class="w-full md:w-[45%] flex-col border-[1px] border-black"
                    >
                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                F. Geolocation information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                G. Sensory information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full flex flex-col border-b border-black md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                H. Professional or employment related
                                information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full flex flex-col border-b border-black md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                I. Non-public / Private (non-public) educational
                                information protected by the Educational Rights
                                and Privacy Act (20 U.S.C. Section 1232g, 34
                                C.F.R. Part 99))?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full md:w-3/4">
                                J. Inferences or conclusions drawn from personal
                                information?
                            </p>

                            <p class="text-[#58585B] w-full md:w-1/4">No</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    Your Rights and Choices
                </h2>

                <p class="text-[#58585B]">
                    The CCPA provides consumers with specific rights regarding
                    their personal information if they are California residents.
                    The following is an overview of these rights and an
                    explanation of how to exercise them.
                </p>
            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    1. Specific Information Access and Data Portability Rights
                </h2>

                <p class="text-[#58585B]">
                    California residents have the right to request the disclose
                    of what CCPA personal information we have collected about
                    them in the last twelve months and what we have used it for
                    during this time period. To the extent required by the CCPA,
                    when we receive a verifiable consumer request, we will
                    disclose the following information, after verifying your
                    identity, if we can:
                </p>

                <div class="w-full flex flex-col md:flex-row justify-between">
                    <div
                        class="w-full md:w-[45%] flex-col h-min border-b-0 md:border-b-[1px] border-[1px] border-black"
                    >
                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                A. Business or commercial purposes for
                                collecting or selling personal information.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                B. Categories of personal information collected
                                about you.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                C. Categories of sources we use to collect
                                personal information about you.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                D. Categories of third parties we share your
                                personal information with.
                            </p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                E. Internet or other electronic network activity
                                information collected or maintained.
                            </p>
                        </div>
                    </div>
                    <div
                        class="w-full md:w-[45%] flex-col h-fit border-[1px] border-black"
                    >
                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                F. Personal information categories that each
                                information recipient category disclosed to each
                                recipient.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                G. Personal information categories that each
                                information recipient category sold to each
                                recipient.
                            </p>
                        </div>

                        <div
                            class="w-full flex flex-col border-b border-black md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                H. Specific pieces of personal information we
                                collected about you, so that you can make a data
                                request. We will provide you with this
                                information in a portable format.
                            </p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                I. Whether we disclosed or sold your personal
                                information for a business purpose, two separate
                                lists.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    2. Deletion Request Rights
                </h2>

                <p class="text-[#58585B]">
                    California residents have the right to request that we
                    delete any of the CCPA personal information which we
                    collected about them. After we have received and confirmed
                    your verifiable consumer request (see Exercising Access,
                    Data Portability, and Deletion Rights), we will delete your
                    personal information and instruct our service providers to
                    delete your information as well. We may not delete your
                    information if it is required to us or our service providers
                    to do the following:
                </p>

                <div class="w-full flex flex-col md:flex-row justify-between">
                    <div
                        class="w-full md:w-[45%] flex-col h-min border-b-0 md:border-b-[1px] border-[1px] border-black"
                    >
                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                A. Completing the contract or transaction for
                                which we collected the personal information,
                                providing goods or services requested, taking
                                reasonable actions within the scope of our
                                ongoing business relationship with you.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                B. Complying with the California Electronic
                                Communications Privacy Act (Cal. Penal Code §
                                1546 et. seq.), and other legal obligations.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                C. Complying with free speech rights, engaging
                                in free speech, ensuring consumers right to
                                exercise their free speech.
                            </p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                D. Complying with other laws.
                            </p>
                        </div>
                    </div>
                    <div
                        class="w-full md:w-[45%] h-fit flex-col border-[1px] border-black"
                    >
                        <div
                            class="w-full flex flex-col border-b border-black md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                E. Finding and resolving defects or errors
                                impacting intended product, service or website
                                functionality.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                F. Internal processes in alignment with your
                                relationship with us.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                G. Identifying security risks, protecting
                                against deceptive, fraudulent, malicious, or
                                illegal activity, or prosecuting individuals
                                involved in such activities.
                            </p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                H. Participating in public or peer-reviewed
                                historical, scientific, or statistical research
                                which is in the public interest and abides by
                                ethics standards, if the information is required
                                to complete the research and you have provided
                                informed consent.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    3. Exercising Access, Data Portability, and Deletion Rights
                </h2>

                <p class="text-[#58585B]">
                    Only you or someone registered with the California Secretary of State who is authorized to act in your interests may make a request for information or deletion. Once you have made a verifiable consumer request, we will provide your personal information is a portable manner so that you can access it easily. Any information you provide will only be used to verify your identity. You can make a request following the instructions below:
                </p>

                <div class="w-full flex flex-col md:flex-row justify-between">
                    <div
                        class="w-full md:w-[45%] flex-col h-min border-b-0 md:border-b-[1px] border-[1px] border-black"
                    >
                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                A. Use our online Request to Know form, call us or email us using the contact information found at the end of this notice. We will confirm receipt within 10 days and then provide a written response within 45 days. If we require more time (up to 90 days), we will inform you in writing of the reason.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                B. Provide us with information necessary to verify your identity so that we may release the information to the individual to whom it belongs, or an authorized representative.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                C. You need not create an account to make requests, but if you have an account and login with us, signing in through our portal with a password serves to verify your identity.
                            </p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                D. Provide enough detail in your request that we understand you, can evaluate the request and provide an answer.
                            </p>
                        </div>
                    </div>
                    <div
                        class="w-full md:w-[45%] h-fit flex-col border-[1px] border-black"
                    >
                        <div
                            class="w-full flex flex-col border-b border-black md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                E. Select the format in which you would like to receive your personal information. This format should be readily accessible and allow you to transport the data to others without issue.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                F. We will provide access to your personal information for the last twelve-month period or provide an explanation as to who we cannot comply with the request.
                            </p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                G. There is no fee to process your verifiable consumer request unless it is excessive. In with case we will inform you of the fee before proceeding.
                            </p>
                        </div>

                    </div>
                </div>

                <p class="text-[#58585B]">
                    You will need to prove your identity to us. If you have no password-protected account with us, you will need to provide us with at least 2 data points which we already maintain about you, and possibly other information and a signed declaration under penalty of perjury if the information maintained about you is of a sensitive nature. In some cases, we might not be able to successfully verify your information and in such a case, we will notify you as to why we cannot provide it.
                </p>

            </section>


            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    4. Personal Information Sales Opt-Out and Opt-In Rights
                </h2>

                <p class="text-[#58585B]">
                    California residents who are sixteen years of age or older have the right to dictate that we do not sell their personal information. If you opt-in to information sales, either verbally or in writing, you may opt-out at any time. Minors are not allowed to use our websites or services and we do not intentionally collect any personal information for or regarding those under the age of eighteen. To opt out please contact us using the contact information found at the end of this notice.
                </p>
            </section>


            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    5. Financial Incentives & Non-Discrimination Rights
                </h2>

                <p class="text-[#58585B]">
                    To the extent required by the CCPA, we will not discriminate against individuals who choose to exercise any of their rights under the CCPA. Unless allowed by the CCPA, we will not:
                </p>

                <div class="w-full flex flex-col md:flex-row justify-between">
                    <div
                        class="w-full md:w-[45%] flex-col h-min border-b-0 md:border-b-[1px] border-[1px] border-black"
                    >
                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                A. Deny you good or services because you exercised your rights.
                            </p>
                        </div>

                        <div
                            class="w-full border-b border-black flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                B. Charge different rates or prices, impost penalties or grant differential discounts for punitive purposes.
                            </p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                C. Provide (or suggest) those who exercise their rights a different quality goods or a different level of service.
                            </p>
                        </div>

                    </div>
                    <div
                        class="w-full md:w-[45%] h-fit flex-col border-[1px] border-black"
                    >
                        <div
                            class="w-full flex flex-col border-b border-black md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                D. We may, however, offer financial incentives to those who provide personal information which may result in variations in price, rates or quality depending on the value of the information provided.
                            </p>
                        </div>

                        <div
                            class="w-full flex flex-col md:flex-row justify-between gap-4 md:gap-8 p-2 md:p-8"
                        >
                            <p class="text-[#58585B] w-full">
                                E. You must opt-in or provide prior written consent to participate in financial incentive programs and you may revoke this consent at any time.
                            </p>
                        </div>

                    </div>
                </div>

                <p class="text-[#58585B]">
                    We do not offer financial incentives to consumers to induce their agreement for us to sell their personal information. Rather, if you do not agree, we might not be allowed to provide your information to third parties who have the quotes, services or other information you have requested. Note that under the CCPA, the “sale” of information does not include the disclosure of information at the consumer’s request.
                </p>

            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    6. Other California Privacy Rights
                </h2>

                <p class="text-[#58585B]">
                    California's "Shine the Light" law (Civil Code Section § 1798.83) provides California residents with the right to request information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make a request, please contact us using the contact information found at the end of this notice.
                </p>
            </section>

            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    Changes to Our Privacy Notice
                </h2>

                <p class="text-[#58585B]">
                    We reserve the right to amend this notice of privacy at any time and at our sole discretion. When changes are made, we will post a notice on the main website and the date the changes take effect. Continued use of this website indicates your acceptance of these changes.
                </p>
            </section>


            <section class="w-full flex flex-col gap-8">
                <h2 class="text-[#58585B] underline">
                    Contact Information
                </h2>

                <p class="text-[#58585B]">
                    If you have any questions, comments or queries about our privacy policy, how we collect or use personal information, your rights regarding such use, or how to exercise your rights please feel free to contact us at the following email address: ccpa@alder.com.
                </p>
            </section>
        </div>

        <br/>

        <CCPAForm client:load />

        <br/>

        <Footer />
    </body>
</html>
