---

import Header from '../../components/Header'
import Footer from '../../components/Footer'
import RequestQuoteForm from '../../components/RequestQuoteForm'
import whitePhone from '../../assets/white-phone.svg'
import yardSign from '../../assets/yard-sign-Opt.jpg'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../AlderFavicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="Because of the unique cold weather in Alaska, home security has to take it to the next level. The best systems have to be home security Alaska edition. " />
		<title>Home Security Alaska | Alder Home Security</title>
	</head>
	<body class="bg-white w-full flex flex-col items-center justify-center">

        <Header path='/states/alaska' client:load />

        <br/>

        <div class="w-full h-[325px] bg-cover bg-center max-w-6xl" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557355317/alaska.jpg")'
        }}>
        <div class="w-full h-full flex flex-col items-center gap-8 justify-center bg-neutral-800/[.50]">

            <h1 class="text-white font-medium w-4/5 md:w-1/2 text-3xl sm:text-5xl md:text-7xl text-center">Home Security Alaska</h1>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white">
                <img alt="phone icon" src={whitePhone}/>
                <p class="text-white text-[15px]">Call Now 800-710-1289</p>
            </a>
            
        </div>
        </div>

        <div class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center ">

            <p class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center">Alaska is one of the most intriguing states in the United States. There are months with no light and months with no darkness. Although this may seem interesting for people from the midwest, the residents of Alaska understand some of the real struggles that come with months of darkness when safety in their homes becomes something constantly on their minds. This is why home security Alaska is so important. Alder is one of the trusted home security Alaska companies since they understand what is needed and what isn’t for specific Alaskan residents. It’s the perfect home security Alaska edition.</p>

        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br/>
        <br/>

        <div class="w-full max-w-6xl bg-cover" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")'
        }} >
        <div class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly">
                <h2 class="flex flex-row items-center text-2xl sm:text-4xl text-white text-center font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl "> Why Alder is Perfect for Alaskan Residents</h2>

                <p class="text-white bg-neutral-800/[.85] text-sm md:text-base w-full md:w-2/3 p-4 leading-6 ">Alabama is one of the states where we do our best work. The people are friendly, kind, and neighbors look out for each other. People from Alabama recognize the importance of caring for their families and do everything in their power to keep their families safe. This is why Alder is such a popular choice for home security in Alabama. We put your families first to give you the best home security systems on the market to ensure that you’re protected night and day. All of our systems are made with the family in mind. Our security monitoring systems are made, so they’re easy to understand and easy to manage. We want to give home security Alabama a great name that our customers can count on.</p>
        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-4xl bg-cover bg-center " style={{
            backgroundImage: `url(${yardSign})`
        }} >
        <div class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12">

            <h3 class="text-white text-2xl">A Smart Home is the</h3>

            <h3 class="text-white text-4xl font-medium">Best Option in Alaska</h3>

            <p class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6">When you’re living in Alaska, whether it’s your permanent home or you’re only there for a few years, you’ll need a smart home. If you have a newer home, chances are that the wiring is set up to have a smart home security system already. If it’s an older home, you’ll want to get a team to come out and help you redo some of the minor wirings for the security system. After that, you’re ready to get start up your smart home. With Alder, they give you every service you need for the perfect smart home. They offer the perfect smart home doorbell camera. This service acts as a great home security system. The doorbell service acts as the perfect way to keep an eye on the home since it functions great during the night and the day. You can use the camera to speak through to people who knock on the door both day and night.</p>

        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div class="w-full h-[250px] bg-cover" style={{
                backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                backgroundPosition: "center 85%"
            }} />

            <div class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12 ">

                <div class=" w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <h3 class="text-[#58585B] font-medium text-2xl text-center md:text-left ">Alder Offers the
                        Best Prices for Alaskan Residents</h3>
                </div>

                <p class="text-[#58585B] text-sm leading-6 w-full md:w-[65%] " >
                    Another great benefit of Alder is they offer competitive prices. Often, for home security Alaska, companies inflate their prices to make their customers think they’re getting a better system. For Alder in home security Alaska, they keep their prices low so everyone can afford them. They even make sure that you can install the security system easily on your own. To find the best security in your area, contact Alder Home Security. They will help you install perfect security to service your home.
                </p>

            </div>

        </div>
        
    
        <Footer />

    </body>
</html>