---

import Header from '../../components/Header'
import Footer from '../../components/Footer'
import RequestQuoteForm from '../../components/RequestQuoteForm'
import whitePhone from '../../assets/white-phone.svg'
import yardSign from '../../assets/yard-sign-Opt.jpg'
import love from '../../assets/love.svg'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../AlderFavicon.png" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content="When looking for local home security systems Phoenix, Alder Home Security offers the best protection, convenience, and security for a fraction of the cost." />
		<meta name="generator" content={Astro.generator} />
		<title>Home Security Systems Phoenix | Alder Home Security</title>
	</head>
	<body class="bg-white w-full flex flex-col items-center justify-center">

        <Header path='/states/arizona' client:load />

        <br/>

        <div class="w-full bg-cover bg-bottom max-w-6xl" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557351171/Arizona.jpg")'
        }}>
        <div class="w-full h-full flex flex-col items-center p-4 gap-8 justify-center bg-neutral-800/[.50]">

            <h1 class="text-white font-medium w-full md:w-2/3 text-3xl sm:text-5xl md:text-6xl text-center">Local Home Security Systems Phoenix</h1>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white">
                <img alt="phone icon" src={whitePhone}/>
                <p class="text-white text-[15px]">Call Now 800-710-1289</p>
            </a>
            
        </div>
        </div>

        <div class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center ">

            <p class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center">What does it cost to keep your family safe at all hours of the day and night? What would you give to know that if something goes wrong, you will be immediately alerted and there will be someone there to take care of you? Though some security systems will charge you thousands of dollars a year for your protection, you can get home security systems Phoenix with Alder for an amazing price and still get incredible security. Having great home security is priceless, but Alder ensures that you still keep your wallet while still getting high-quality security.</p>

        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br/>
        <br/>

        <div class="w-full max-w-6xl bg-cover" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")'
        }} >
        <div class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly">
                <h2 class="flex flex-row items-center text-2xl sm:text-6xl text-white font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl ">WE <img alt="heart" class=" w-[30px] h-[30px] sm:w-[65px] sm:h-[65px]" src={love}/> PHOENIX </h2>

                <p class="text-white bg-neutral-800/[.85] text-sm md:text-base w-full md:w-2/3 p-4 leading-6 ">There are tons of home security systems Arizona because people recognize the importance of having security at all hours of the day or night. At Alder, we understand this importance and don’t want to take advantage of your security. That’s why we give you the best home security for a fraction of the cost. Your home security is our top priority, and we work our schedule and our products around your family.</p>
        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-4xl bg-cover bg-center " style={{
            backgroundImage: `url(${yardSign})`
        }} >
        <div class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12">

            <h3 class="text-white text-2xl">Working Hard to bring</h3>

            <h3 class="text-white text-4xl font-medium">Phoenix Peace of Mind</h3>

            <p class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6">No matter where you live or where you are during the day or night, you deserve to have the best home automation security. At Alder, your alarm can be set from work, vacation, and anywhere else. Your alarm can be set to your smartphone and can be managed from a remote location. You can check the live feed from cameras, and motion automation catches any movement that happens where it shouldn’t be. Window and door sensor automation sets an alarm off on your phone and notifies you if a sensor has been tripped whether you’re at home or away. At Alder Home Security, we want you to know that you have the best services for the best prices.</p>

        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div class="w-full h-[250px] bg-cover" style={{
                backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                backgroundPosition: "center 85%"
            }} />

            <div class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12 ">

                <div class=" w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <p class="text-[#58585B] text-xl text-center md:text-start" >Alder Gives</p>

                    <h3 class="text-[#58585B] font-medium text-2xl text-center md:text-left ">Phoenix Residents Convenience, Security and Savings</h3>
                </div>

                <p class="text-[#58585B] text-sm leading-6 w-full md:w-[65%] " >
                    We pride ourselves in offering local safety with our home security systems in Phoenix. Phoenix residents deserve to be comfortable no matter where they are, and that’s what Alder offers to Phoenix. Other home security systems in Pheonix overcharge their services. However, we offer our home security at competitive prices to earn your loyalty through you’re insured safety. Our automation is convenient since you can access the automation services from any location. The automation connects security cameras to your cell phone, tablet, laptop and anything else through our convenient app. This ensures that you are connected to your home no matter what and can manage your security system from a remote location. Now you can stay safe from fires, flooding, and any other threats to your home.
                </p>

            </div>

        </div>
        
    
        <Footer />

    </body>
</html>