---

import Header from '../../components/Header'
import Footer from '../../components/Footer'
import RequestQuoteForm from '../../components/RequestQuoteForm'
import whitePhone from '../../assets/white-phone.svg'
import yardSign from '../../assets/yard-sign-Opt.jpg'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../AlderFavicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="Alder is a must-have home security San Francisco. They keep you protected regardless of the scenario or situation. Your needs are first at Alder. " />
		<title>Home Security San Francisco | Alder Home Security</title>
	</head>
	<body class="bg-white w-full flex flex-col items-center justify-center">

        <Header path='/states/florida' client:load />

        <br/>

        <div class="w-full bg-cover bg-center max-w-6xl" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557352081/California.jpg")'
        }}>
        <div class="w-full h-full flex flex-col items-center gap-8 p-4 justify-center bg-neutral-800/[.50]">

            <h1 class="text-white font-medium w-5/6 md:w-2/3 text-3xl sm:text-5xl md:text-7xl text-center">Must-Have Home
                Security San Francisco</h1>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white">
                <img alt="phone icon" src={whitePhone}/>
                <p class="text-white text-[15px]">Call Now 800-710-1289</p>
            </a>
            
        </div>
        </div>

        <div class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center ">

            <p class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center">San Francisco is one of the best-known cities in the entire world. It’s on every “100 Places to See Before You Die” list and people come from all over the world to see Lombard Street and the Golden Gate Bridge. What those people don’t typically consider is that people actually live on Lombard Street and near the Golden Gate Bridge. Because there’s always an influx of people in San Francisco, it’s almost impossible to get by in the city without home security San Francisco. A must-have home security system for residents in the city is Alder Home Security.</p>

        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br/>
        <br/>

        <div class="w-full max-w-6xl bg-cover" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")'
        }} >
        <div class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly">
                <h2 class="flex flex-row items-center text-2xl sm:text-5xl text-white font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl text-center ">Alder For Home Security San Francisco</h2>

                <p class="text-white bg-neutral-800/[.85] text-sm md:text-base w-full md:w-2/3 p-4 leading-6 ">Since San Fransico is always busy, always full of people, and always full of crime, it takes a special home security system to take care of your home. You want a home security system that will call you when there’s a problem rather than just setting off the alarm. Reviews rave about Alder for home security San Francisco because not only do they call you as soon as an alarm is triggered, but they also set off the home security system alarm inside the house to scare away potential intruders. With Alder, they give you access to cameras remotely so you can always check up on the home. It’s the best service for home security systems offered on the market, especially for those living in areas like San Francisco.</p>
        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-4xl bg-cover bg-center " style={{
            backgroundImage: `url(${yardSign})`
        }} >
        <div class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12">

            <h3 class="text-white text-2xl">Alder Home Security Works to</h3>

            <h3 class="text-white text-4xl font-medium">Give Residents What They Need</h3>

            <p class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6">The main focus of Alder Home Security is to give San Francisco residents exactly what they need. The great things about this home security system company is they know what you need depending on where you live. They have home security Los Angeles, home security Sacramento, and home security all over the country. They specify what the residents of the city need specifically and work to meet your needs. For example, their Los Angeles home security focuses on service that works with that environment whether it’s an apartment, townhome, or house. This is why Alder gets such great reviews.</p>

        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div class="w-full h-[250px] bg-cover" style={{
                backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                backgroundPosition: "center 85%"
            }} />

            <div class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12 ">

                <div class=" w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <p class="text-[#58585B] text-xl text-center md:text-start" >Reviews for</p>

                    <h3 class="text-[#58585B] font-medium text-2xl text-center md:text-left ">Alder Home Security</h3>
                </div>

                <p class="text-[#58585B] text-sm leading-6 w-full md:w-[65%] " >
                    The reviews for Alder Home Security are stunning in each of the cities they operate in. Reviews comment on the friendliness of staff, the easy learning curve of the service, and the efficiency of the coverage. Reviews also mention how great it is to connect smart devices to the service and the home security system. After connecting the service, the security system will call you when someone knocks on the door and let you speak to the person through your phone--even if you’re out of town. The call feature is one of the things make Alder the best service for home security systems. If you’re looking for a home security system that will take care of you even in San Francisco, you should call Alder for their home security system.
                </p>

            </div>

        </div>
        
    
        <Footer />

    </body>
</html>