---

import Header from '../../components/Header'
import Footer from '../../components/Footer'
import RequestQuoteForm from '../../components/RequestQuoteForm'
import whitePhone from '../../assets/white-phone.svg'
import yardSign from '../../assets/yard-sign-Opt.jpg'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../AlderFavicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="If you’re looking for the best home security Atlanta, you’ve found it. Alder works with Atlanta residents to ensure you’re cared for and protected. " />
		<title>Home Security Atlanta | Alder Home Security</title>
	</head>
	<body class="bg-white w-full flex flex-col items-center justify-center">

        <Header path='/states/georgia' client:load />

        <br/>

        <div class="w-full h-[325px] bg-cover bg-center max-w-6xl" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557353596/Georga.jpg")'
        }}>
        <div class="w-full h-full flex flex-col items-center gap-8 justify-center bg-neutral-800/[.50]">

            <h1 class="text-white font-medium w-4/5 md:w-1/2 text-3xl sm:text-5xl md:text-7xl text-center">Best Home Security Atlanta</h1>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white">
                <img alt="phone icon" src={whitePhone}/>
                <p class="text-white text-[15px]">Call Now 800-710-1289</p>
            </a>
            
        </div>
        </div>

        <div class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center ">

            <p class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center">Atlanta is a city that is constantly growing and changing. It thrives on its people and the culture that the people bring. Every person in Atlanta deserves to enjoy the city that they help create and enjoy it while feeling the safety and security that comes from having home security system Atlanta. One of the best security companies in Atlanta is Alder Home Security. Alder Home Security knows how to put its customers first and give them the coverage that they need no matter where they live. This is why Atlanta loves Alder Home Security systems.</p>

        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br/>
        <br/>

        <div class="w-full max-w-6xl bg-cover" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")'
        }} >
        <div class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly">
                <h2 class="flex flex-row items-center text-2xl sm:text-5xl text-white font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl text-center">Alder Home Security Works With Atlanta</h2>

                <p class="text-white bg-neutral-800/[.85] text-sm md:text-base w-full md:w-2/3 p-4 leading-6 ">Like most cities, Atlanta has specific needs when it comes to finding home security systems. Not just any home security cameras work to fulfill all the needs of the resident. Alder works had to ensure that all the needs of the customers are being met. They create security alarm systems that are tailored to the customers home. Alder’s goal is to make sure that the customer is happy and secure. No matter what Alder needs to do to make that happen, they do it. Because of that, Alder is always considered the best home security Atlanta.</p>
        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-4xl bg-cover bg-center " style={{
            backgroundImage: `url(${yardSign})`
        }} >
        <div class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12">

            <h3 class="text-white text-4xl font-medium w-full text-center md:text-start md:w-2/3 ">Why Alder is the Best Home Security System Atlanta</h3>

            <p class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6">There are a few reasons why Alder is the best home security Atlanta. The first thing is their doorbell cameras. The doorbell allows you to have two-way communication with the person on the other side of the door without even having to be home. You can access the camera through the ease of your phone. That’s what makes this easy, manageable, and perfect for Atlanta. Other security companies in Atlanta overprice their products and take advantage of your desire to be safe at home. Alder offers you a great home alarm for an unbeatable price. It makes Alder stand out against others who offer home security Atlanta.
            They also do their best to work with the needs of the customers. They make it as easy as possible to get great home security systems with high-quality cameras and video. Alder’s home security systems are made for that specific customer. The customer is then able to set up the security systems so they’re comfortable with where the cameras are and how everything is set up. Everything from the security systems to the cameras is up to the customer. Alder is there to make sure the customer feels as much security as possible.</p>

        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div class="w-full h-[250px] bg-cover" style={{
                backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                backgroundPosition: "center 85%"
            }} />

            <div class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12 ">

                <div class=" w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <h3 class="text-[#58585B] font-medium text-2xl text-center md:text-left ">Local Home Security in Atlanta</h3>

                    <p class="text-[#58585B] text-xl text-start" >From Alder</p>
                </div>

                <p class="text-[#58585B] text-sm leading-6 w-full md:w-[65%] " >
                    Another benefit to having Alder, is they keep things local. They have representatives in states across the country so you can have security no matter where you move. You will be protected knowing that Alder is always close enough to visit. Their systems are also transportable since they work with wireless systems and cameras to give you maximum protection.
                    Their alarm systems are one of the best on the market. You can monitor all the cameras and sensors from a remote location. You can be at work, at the grocery store, or on a vacation, and you will have full access to the alarm system, locks, and everything else that comes with your smart home. Alder does this because they want you to have control of your home. You can access everything through the ease of your mobile device--your smartphone, tablet, or laptop. This makes it easy to be safe and in control at all times. If you don’t remember whether or not you’ve locked the door, you can check with your phone and lock it if you forgot. You no longer have to worry or run home. It’s all on your phone. This is why Alder is so loved in Atlanta and is considered the best home security Atlanta. Alder works with you to put you in charge.
                </p>

            </div>

        </div>
        
    
        <Footer />

    </body>
</html>