---

import Header from '../../components/Header'
import Footer from '../../components/Footer'
import RequestQuoteForm from '../../components/RequestQuoteForm'
import whitePhone from '../../assets/white-phone.svg'
import yardSign from '../../assets/yard-sign-Opt.jpg'
import love from '../../assets/love.svg'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../AlderFavicon.png" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content="The best Louisville, KY home security systems are those that put your safety, budget, and needs before their own. Find a system that makes you feel safe." />
		<meta name="generator" content={Astro.generator} />
		<title>Louisville KY Home Security Systems</title>
	</head>
	<body class="bg-white w-full flex flex-col items-center justify-center">

        <Header path='/states/kentucky' client:load />

        <br/>

        <div class="w-full h-[325px] bg-cover bg-center max-w-6xl" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557354527/kentucky.jpg")'
        }}>
        <div class="w-full h-full flex flex-col items-center gap-8 justify-center bg-neutral-800/[.50]">

            <h1 class="text-white font-medium w-4/5 md:w-2/3 text-3xl sm:text-5xl md:text-6xl text-center">Amazing Louisville KY
                Home Security Systems</h1>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white">
                <img alt="phone icon" src={whitePhone}/>
                <p class="text-white text-[15px]">Call Now 800-710-1289</p>
            </a>
            
        </div>
        </div>

        <div class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center ">

            <p class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center">For those looking for Louisville KY home security systems, you may have noticed that there are hundreds of Louisville alarm companies all vying to get your attention. This can make it difficult to find the right home security system since there’s are so many options. Some home security companies try to inflate their prices in order to seem “premium” though they offer a sub-par product. Other offer low prices but don’t give you the protection that you need. One of the best home security systems companies is Alder in Louisville because they work with you and offer competitive systems for a low price.</p>

        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br/>
        <br/>

        <div class="w-full max-w-6xl bg-cover" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")'
        }} >
        <div class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly">
                <h2 class="flex flex-row items-center text-2xl sm:text-6xl text-white font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl ">WE <img alt="heart" class=" w-[30px] h-[30px] sm:w-[65px] sm:h-[65px]" src={love}/> LOUISVILLE </h2>

                <p class="text-white bg-neutral-800/[.85] text-sm md:text-base w-full md:w-2/3 p-4 leading-6 ">The first thing you should know about Alder Home Security is that they love Louisville. Their local office is there to take care of any customers who have questions, concerns, or need additional monitoring. What makes them stand out among other home security systems Louisville is that they know and recognize the concerns that are important to residents of Louisville. They recognize and work on those issues in order to make sure they are monitoring those issues. For residents of Louisville, they can be assured that Alder will be monitoring all threats of any level in their neighborhoods.</p>
        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-4xl bg-cover bg-center " style={{
            backgroundImage: `url(${yardSign})`
        }} >
        <div class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12">

            <h3 class="text-white text-2xl">Working Hard to bring</h3>

            <h3 class="text-white text-4xl font-medium">Louisville Peace of Mind</h3>

            <p class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6">Another thing about Alder Home Security is that their systems show how hard Alder works to be always monitoring their customers’ homes. All of their systems are customizable for Louisville residents to ensure that their customers all the coverage that they need and never pay extra for the things they don’t need. You can set the alarm on your security system from anywhere in the world. You know longer have to worry about whether or not you set the alarm when you left the house. With Alder, they connect the system to your smartphone and let you have full access to your security systems and monitoring cameras no matter where you are. You can check the locks on the windows and doors from work. If the alarm is triggered, the alarm contacts your phone and you can look through the cameras and see which alarm was set off. From there, you can leave work and head back home or call the cops and have them head over. The alarm is also set off to hopefully scare away the intruder.</p>

        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div class="w-full h-[250px] bg-cover" style={{
                backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                backgroundPosition: "center 85%"
            }} />

            <div class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12 ">

                <div class=" w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <p class="text-[#58585B] text-xl text-center md:text-start" >Alder Gives</p>

                    <h3 class="text-[#58585B] font-medium text-2xl text-center md:text-left ">Louisville Residents Convenience, Security and Savings</h3>
                </div>

                <p class="text-[#58585B] text-sm leading-6 w-full md:w-[65%] " >
                    Alder’s purpose in giving the residents of Louisville such great home security is that they want you to feel safe, secure, and have the convenience of monitoring at the tips of your fingers. Their systems are wireless and are easy to install. This also means that you don’t need to hire a professional team to come in and set up the systems since nothing will need to be rewired. Alder doesn’t want your home security systems to be a hassle in any way. Instead, they want to work with the customer to create a system that is easy to figure out and is intuitive. No messy wires, expensive setup fees, or other things that make getting home security systems a hassle. Alder Home Security wants you to feel that you’re taken care of. When you get use Alder for your home security you will feel and know that you’re in good hands. To find the best Louisville Home Security Systems, call Alder in your local area. They will ensure to give you the best price for the most amount of equipment. There’s a reason why Alder has amazing reviews across the board. Talk to your neighbors and see what they’re using for their home security systems and you might be surprised at how often Alder comes up.
                </p>

            </div>

        </div>
        
    
        <Footer />

    </body>
</html>