---

import Header from '../../components/Header'
import Footer from '../../components/Footer'
import RequestQuoteForm from '../../components/RequestQuoteForm'
import whitePhone from '../../assets/white-phone.svg'
import yardSign from '../../assets/yard-sign-Opt.jpg'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../AlderFavicon.png" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content="Alder is one of the best home security systems New Orleans. They offer unbeatable prices for their systems and they always put the needs of their customers first." />
		<meta name="generator" content={Astro.generator} />
		<title>Home Security Systems New Orleans | Alder Home Security</title>
	</head>
	<body class="bg-white w-full flex flex-col items-center justify-center">

        <Header path='/states/louisiana' client:load />

        <br/>

        <div class="w-full h-[325px] bg-cover bg-center max-w-6xl" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557357049/Louisiana.jpg")'
        }}>
        <div class="w-full h-full flex flex-col items-center gap-8 justify-center bg-neutral-800/[.50]">

            <h1 class="text-white font-medium w-4/5 md:w-2/3 text-3xl sm:text-5xl md:text-6xl text-center">Home Security Systems New Orleans</h1>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white">
                <img alt="phone icon" src={whitePhone}/>
                <p class="text-white text-[15px]">Call Now 800-710-1289</p>
            </a>
            
        </div>
        </div>

        <div class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center ">

            <p class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center">New Orleans has always been considered one of the most important cultural hubs in North America. It’s famous for music, food, and festivals that happen year-round. It has an extremely unique vibe that visitors feel as soon as they set foot inside the city. Residents in New Orleans are the reason why New Orleans is so distinctive since it’s their culture that the visitors are experiencing. Residents also know the importance of having a great home security system New Orleans. One of the residential favorite home security systems is Alder Home Security. Home security systems New Orleans need to have several aspects of monitoring, alarm quality, and price that all meet a certain threshold to earn the trust of the people in New Orleans. This is why Alder is one of the most valued home security companies.</p>

        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br/>
        <br/>

        <div class="w-full max-w-6xl bg-cover" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")'
        }} >
        <div class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly">
                <h2 class="flex flex-row items-center text-2xl sm:text-5xl text-white font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl text-center">Alder Gives Quality to New Orleans</h2>

                <p class="text-white bg-neutral-800/[.85] text-sm md:text-base w-full md:w-2/3 p-4 leading-6 ">One of the things that New Orleans loves most about Alder Home Security is that they offer quality alarm systems and monitoring. The alarm systems are made to be used and are guaranteed to protect your home. The alarm systems do this by monitoring all of the entry points in the home. The alarm will be set off if the sensors that are monitoring the windows, doors, or the motion detectors are triggered. The monitoring system will then trigger the alarm which sets off a loud alarm to scare off the intruder. You will also be immediately contacted as soon as the alarm is triggered. Alder does this by connected the home security system in the home to your mobile device. You can then connect your mobile device to the home security system cameras and the doorbell cameras. That means that you can look through the camera by looking at the screen of your mobile device. Alder tries to make the process easy for you which is why Alder is such a respected company in home security systems New Orleans.</p>
        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-4xl bg-cover bg-center " style={{
            backgroundImage: `url(${yardSign})`
        }} >
        <div class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12">

            <h3 class="text-white text-2xl">Alder Offers</h3>

            <h3 class="text-white text-4xl font-medium">Competitive Prices</h3>

            <p class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6">Home security systems New Orleans can offer great systems but for overpriced amounts. They do this because they know they can have you pay high amounts for a good system. Alder does not take this same approach. Since they put the customer first, they keep their prices low in order to ensure that everyone can afford security. They don’t believe that safety should be limited to a small group of people. Instead, by keeping prices low, they can reach a greater amount of people who all deserve to go to bed at night knowing that they are safe. Home security systems New Orleans are always great quality, but Alder offers something more. They offer amazing quality with 24/7 protection for an unbeatable price.</p>

        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div class="w-full h-[250px] bg-cover" style={{
                backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                backgroundPosition: "center 85%"
            }} />

            <div class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12 ">

                <div class=" w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <h3 class="text-[#58585B] font-medium text-2xl text-center md:text-left ">New Orleans Needs Protection</h3>
                </div>

                <p class="text-[#58585B] text-sm leading-6 w-full md:w-[65%] " >
                    One of the reasons why you should get protection for your home is because Louisiana needs it. Not because the people are bad, but because people care about their security, their protection, and their families. The residents who live here care about one another and they watch out for their neighbors. If s neighbor hears an alarm going off, they will call the cops because they know that the neighbor would do the same for them. The neighborhoods watch out for suspicious activity and keep their eyes on one another to ensure that everyone is comfortable and safe. Having a security system adds another level of safety and protection.
                </p>

            </div>

        </div>
        
    
        <Footer />

    </body>
</html>