---

import Header from '../../components/Header'
import Footer from '../../components/Footer'
import RequestQuoteForm from '../../components/RequestQuoteForm'
import whitePhone from '../../assets/white-phone.svg'
import yardSign from '../../assets/yard-sign-Opt.jpg'
import love from '../../assets/love.svg'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../AlderFavicon.png" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content="Looking for home security systems Albuquerque? Here at Alder, we know the ins and outs of security and here’s everything you need to know.  " />
		<meta name="generator" content={Astro.generator} />
		<title>Home Security Systems Albuquerque | Alder Home Security</title>
	</head>
	<body class="bg-white w-full flex flex-col items-center justify-center">

        <Header path='/states/new-mexico' client:load />

        <br/>

        <div class="w-full h-[325px] bg-cover bg-center max-w-6xl" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1565633241/NewMexico.jpg")'
        }}>
        <div class="w-full h-full flex flex-col items-center gap-8 justify-center bg-neutral-800/[.50]">

            <h1 class="text-white font-medium w-4/5 md:w-2/3 text-3xl sm:text-5xl md:text-6xl text-center">Home Security Systems
                Albuquerque</h1>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white">
                <img alt="phone icon" src={whitePhone}/>
                <p class="text-white text-[15px]">Call Now 800-710-1289</p>
            </a>
            
        </div>
        </div>

        <div class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center ">

            <p class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center">Home security is one of the most important aspects of keeping your home and family safe. It provides your family with much-needed protection in Albuquerque and can help you stay safe at all times of the day. However, finding good home security systems can be like trying to find a needle in a haystack. That is why we have committed ourselves to help you find some of the best home security systems in Albuquerque for your home that will give your family the best protection.</p>

        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br/>
        <br/>

        <div class="w-full max-w-6xl bg-cover" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")'
        }} >
        <div class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly">
                <h2 class="flex flex-row items-center text-xl sm:text-6xl text-white font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl ">WE <img alt="heart" class=" w-[30px] h-[30px] sm:w-[65px] sm:h-[65px]" src={love}/> ALBUQUERQUE </h2>

                <p class="text-white bg-neutral-800/[.85] text-sm md:text-base w-full md:w-2/3 p-4 leading-6 ">Like we said above, Alder is considered one of the best sources of home security in Albuquerque. We are trusted, respected, and well-known. Our signs sit in almost every neighborhood, and we are the best DIY company here. We know our Albuquerque customers, and we know what they are looking for in terms of home security. Best of all, we know how to make our Albuquerque customers happy. Alder loves Albuquerque because we have been welcomed into homes with open arms. Because of the welcoming spirit of the people with our alarm systems, we have made it our mission to secure every neighborhood by making every family feel safe and secure.</p>
        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-4xl bg-cover bg-center " style={{
            backgroundImage: `url(${yardSign})`
        }} >
        <div class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12">

            <h3 class="text-white text-2xl">Always Stay</h3>

            <h3 class="text-white text-4xl font-medium">Within Your Budget</h3>

            <p class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6">The first rule of finding home security systems in Albuquerque is to always stay within your budget. Your budget should be the defining line of what you should buy and what you shouldn’t. There are good home security systems that will cost you thousands of dollars a year, and there are good security systems that will only cost a couple hundred. The key is finding the one that fits comfortably with the other bills you already have to pay every month. If you’re looking for a monitoring system that will fit inside of a smaller budget, your best option is to look at DIY monitoring systems. DIY doesn’t mean that you’re sacrificing anything important with home security systems. Instead, you’ll be the one setting up the monitoring system. A DIY monitoring system is the best for those who want the security that comes with a monitoring system, but want to pay less for the service.</p>

        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div class="w-full h-[250px] bg-cover" style={{
                backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                backgroundPosition: "center 85%"
            }} />

            <div class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12 ">

                <div class=" w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <h3 class="text-[#58585B] font-medium text-2xl text-center md:text-left ">Know Your Neighborhood</h3>
                </div>

                <p class="text-[#58585B] text-sm leading-6 w-full md:w-[65%] " >
                    At the end of the day, one of the best protections that you have in Albuquerque, New Mexico, is your neighborhood. You want to be able to trust the people around you and have faith in your neighbors. Get to you know your neighbors and start up a neighborhood watch with them. This can help to greatly decrease home and property crimes in your area because everyone is looking out for everyone else. You should also make sure your neighborhood is in contact with a police force. You want to make them aware of the concerns that your neighborhood has and make sure that you’re all on the same page. This can help your neighborhood in Albuquerque stay safe year-round. You should also talk with your neighbors about the best home security systems that they have seen and get their opinions. One of the best home security systems in Albuquerque is Alder Home Security, and we are well known for our ability to make our customers feel safe and secure.
                </p>

            </div>

        </div>
        
    
        <Footer />

    </body>
</html>