---

import Header from '../../components/Header'
import Footer from '../../components/Footer'
import RequestQuoteForm from '../../components/RequestQuoteForm'
import whitePhone from '../../assets/white-phone.svg'
import yardSign from '../../assets/yard-sign-Opt.jpg'
import love from '../../assets/love.svg'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../AlderFavicon.png" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content="Finding the best home security Charlotte, North Carolina should be a priority for you and your family. With home security, you can enjoy every day in peace and safety.  " />
		<meta name="generator" content={Astro.generator} />
		<title>Home Security Charlotte | Alder Home Security</title>
	</head>
	<body class="bg-white w-full flex flex-col items-center justify-center">

        <Header path='/states/north-carolina' client:load />

        <br/>

        <div class="w-full h-[325px] bg-cover bg-center max-w-6xl" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1566929499/NorthCarolina.jpg")'
        }}>
        <div class="w-full h-full flex flex-col items-center gap-8 justify-center bg-neutral-800/[.50]">

            <h1 class="text-white font-medium w-4/5 md:w-1/2 text-3xl sm:text-5xl md:text-7xl text-center">Home Security Charlotte</h1>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white">
                <img alt="phone icon" src={whitePhone}/>
                <p class="text-white text-[15px]">Call Now 800-710-1289</p>
            </a>
            
        </div>
        </div>

        <div class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center ">

            <p class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center">Imagine sitting on the porch with your family. A blue sky spreads out over the flat distance, and the subtle touch of wind brings the sweet smell of ripe peaches. A green lawn stretches to the road, and your children laugh as they play nearby. You have no concerns, no problems, no frustrations. You know your family will be safe while you’re at home and while you’re away because a home security system protects your home. Your windows and doors are armed with sensors that will alert your phone the moment someone triggers it. You have installed cameras around the house, and you open the app on your phone that lets you check the video feed from the cameras 24/7. You and your family are safe because you have home security Charlotte, North Carolina.</p>

        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br/>
        <br/>

        <div class="w-full max-w-6xl bg-cover" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")'
        }} >
        <div class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly">
                <h2 class="flex flex-row items-center text-2xl sm:text-6xl text-white font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl ">WE <img alt="heart" class=" w-[30px] h-[30px] sm:w-[65px] sm:h-[65px]" src={love}/> CHARLOTTE </h2>

                <p class="text-white bg-neutral-800/[.85] text-sm md:text-base w-full md:w-2/3 p-4 leading-6 ">At Alder Home Security in Charlotte, North Carolina, we try to make the best choices for your home and your family. We want to create a picture-perfect scene where you and your family can enjoy peace without the danger of a property crime. We live in a dangerous world where every day there are 1,495,790 burglaries. This number breaks down to roughly 17 burglaries a second. We want to make sure Charlotte, North Carolina, is protected from this, which is why we only choose the best products for our alarm home security. For our Charlotte monitoring systems, we use Arlo cameras. Arlo is a weather-proof camera that also works as a doorbell camera with night vision. It is heat and cold resistant with HD camera quality. The cameras easily work with our custom smartphone app and allow you to have 24/7 access to a video stream. The cameras are also motion activated and call when triggered. This means that whenever someone in Charlotte walks by the camera, the feed is activated to ensure you never miss a moment by your home. The cameras also can upload seven days worth of footage to the cloud so you can review events after they happen.</p>
        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-4xl bg-cover bg-center " style={{
            backgroundImage: `url(${yardSign})`
        }} >
        <div class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12">

            <h3 class="text-white text-2xl">Key Aspects</h3>

            <h3 class="text-white text-4xl font-medium">of Good Home Security</h3>

            <p class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6">When it comes to home security in Charlotte, North Carolina, there are several things that you cannot live without. A good alarm home security system in Charlotte is defined by the way it protects you and your home. If it can’t do that, then you might want to look in a different direction for home security systems. Here’s exactly what you need to look for: HD camera quality, Motion-activated monitoring cameras, Monitoring through a smartphone app, Reasonable price, Doorbell camera, Window and door sensors, Two-way audio, Custom Alarm, Night Vision These factors can make or break security systems. For example, if home security systems don’t offer an HD quality camera, you won’t be able to expect much from the footage. The video footage that you get from the cameras will likely be grainy and unusable. Another example is night vision. Since half of all burglaries happen at night, it’s important that your cameras can adapt to that situation. Ensure that your cameras have night vision to prepare you for all scenarios.</p>

        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div class="w-full h-[250px] bg-cover" style={{
                backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                backgroundPosition: "center 85%"
            }} />

            <div class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12 ">

                <div class=" w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <h3 class="text-[#58585B] font-medium text-2xl text-center md:text-left ">What Makes Good Home Security Charlotte, North Carolina</h3>
                </div>

                <p class="text-[#58585B] text-sm leading-6 w-full md:w-[65%] " >
                    One of the most common questions asked about home security in Charlotte, North Carolina is: What makes one type of system better than the other security systems? In this article, we are going to give you a sure answer to this question so you can make the best call. To start, your budget will determine what type of system is going to work better for you. Some systems are too expensive for the average family to fit comfortably in their budget, and you’re better off leaning towards a system that won’t cost as much every month. One great way to still get a good home security system and still save money is to look into one that is DIY, or “do-it-yourself.” What this means is that you will do the initial installation on your own and decide where to put cameras, sensors, and all the other gadgets that come with the device. The company in Charlotte, North Carolina, will monitor the system and call if anything is off. You will also have access to the cameras, motion sensors, and everything else through a simple app on your phone. If something isn’t right, you want to check up on your home from anywhere in the world. You can also call the company if you have any questions or concerns. DIY home security systems are becoming more and more popular in Charlotte, North Carolina because they are easier for the modern family. Everything is sent through the mail, and you won’t have to worry about setting up an appointment for the company to install the alarm system.
                </p>

            </div>

        </div>
        
    
        <Footer />

    </body>
</html>