---
import Header from "../../components/Header";
import Footer from "../../components/Footer";
import RequestQuoteForm from "../../components/RequestQuoteForm";
import whitePhone from "../../assets/white-phone.svg";
import yardSign from "../../assets/yard-sign-Opt.jpg";
import love from '../../assets/love.svg'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="../../AlderFavicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="If you’re looking for home security Oklahoma City, the chances are that you might have some questions. Here are the answers you’re looking for." />
        <meta name="generator" content={Astro.generator} />
        <title>Home Security Systems Oklahoma | Alder Home Security</title>
    </head>
    <body class="bg-white w-full flex flex-col items-center justify-center">
        <Header path="/states/oklahoma" client:load />

        <br />

        <div
            class="w-full h-[325px] bg-cover bg-center max-w-6xl"
            style={{
                backgroundImage:
                    'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1566924351/Oklahoma.jpg")',
            }}
        >
            <div
                class="w-full h-full flex flex-col items-center gap-8 justify-center bg-neutral-800/[.50]"
            >
                <h1
                    class="text-white font-medium w-4/5 md:w-2/3 text-3xl sm:text-5xl md:text-6xl text-center"
                >
                    Home Security Oklahoma City
                </h1>

                <a
                    href="tel:800-710-1289"
                    class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white"
                >
                    <img alt="phone icon" src={whitePhone} />
                    <p class="text-white text-[15px]">Call Now 800-710-1289</p>
                </a>
            </div>
        </div>

        <div
            class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center"
        >
            <p
                class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center"
            >
            Every person deserves to feel safe in their home. Home security is one of the most important things to a family in Oklahoma City because it allows them to have complete control over their lives. This is why here at Alder Home Security, we give your customers great customer service in deciding which home security systems to pick. Here are some of the most important things you should know while deciding which home security systems to choose to protect your family.
            </p>
        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br />
        <br />

        <div
            class="w-full max-w-6xl bg-cover"
            style={{
                backgroundImage:
                    'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")',
            }}
        >
            <div
                class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly"
            >
                <h2
                    class="flex flex-row items-center text-2xl sm:text-5xl text-white font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl text-center "
                >
                    WE <img
                        alt="heart"
                        class="w-[30px] h-[30px] sm:w-[65px] sm:h-[65px]"
                        src={love}
                    /> OKLAHOMA CITY
                </h2>

                <p
                    class="text-white bg-neutral-800/[.85] text-sm md:text-base w-full md:w-2/3 p-4 leading-6"
                >
                There’s a reason Alder is so loved in Oklahoma. It’s because we know how to treat our Oklahoma customers right. When we give our customers an alarm system, we are also giving them a new family to join. That’s right. We treat our customers exactly how we treat family -- and family is important to us. We give our customers from Oklahoma the best deals available to ensure that their families are taken care of and happy. With our alarm systems, your family will be safe at all hours of the day. Best of all, once you download the Alder app, you will have 24/7 access to all video footage, and you can monitor your home from anywhere on the planet. We’ve tried to make the process as easy as possible for our Oklahoma customers.
                </p>
            </div>
        </div>

        <br />
        <br />

        <div
            class="w-full max-w-4xl bg-cover bg-center"
            style={{
                backgroundImage: `url(${yardSign})`,
            }}
        >
            <div
                class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12"
            >
                <h3 class="text-white text-2xl">Fitting Security</h3>

                <h3 class="text-white text-4xl font-medium">
                    Systems into a Budget
                </h3>

                <p
                    class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6"
                >
                It’s no secret that home security systems in Oklahoma City can be expensive. Sometimes, home security systems can cost thousands of dollars a year. Not every family in Oklahoma City has the funds to pay those types of bills. This is why it’s important to learn how to fit home security systems into a budget. The first thing that you should do is look for home security systems that are manageable within a budget. Every service has a different price attached to it. For example, here at Alder Home Security in Oklahoma City, we do our best to find a price that will fit into every family’s budget. We have competitive prices that won’t make you stretch a budget for. If your budget still feels stressed after choosing a service that isn’t expensive, you might want to consider cutting other things from your budget to fit your family’s safety in. This will just mean having a tighter budget. If you’ve picked the right security system, you shouldn’t have to do that much adjusting.
                </p>
            </div>
        </div>

        <br />
        <br />

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div
                class="w-full h-[250px] bg-cover"
                style={{
                    backgroundImage:
                        'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                    backgroundPosition: "center 85%",
                }}
            >
            </div>

            <div
                class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12"
            >
                <div class="w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <h3
                        class="text-[#58585B] font-medium text-2xl text-center md:text-left"
                    >
                    Choosing the Right Features for Security Systems
                    </h3>
                </div>

                <p class="text-[#58585B] text-sm leading-6 w-full md:w-[65%]">
                    When you go through home security systems in Oklahoma City, you’ll see that there are several options for the type of alarm and other functions that can be included. Some Oklahoma City companies offer a medical service and other types of service that you can include. These will be extra per month. However, if you're struggling to just pay for a general security service, skip the extra service options. The main service that you need to include with your alarm system is the security cameras and door and window sensors. And that is exactly what we will give you in our basic Oklahoma City Alder package. Since our home security systems are DIY, you can save money and still have complete control over your home security. If you get the basic service but are still looking for something extra, we recommend getting a doorbell camera. If you are looking for extra features on your home security systems, we do offer a variety of services for our Oklahoma City customers. For example, we are happy to provide medical alert buttons for older citizens of Oklahoma and smart carbon monoxide detectors. We offer smart home services like a flood alert, smart alarm, smart doorbell, and motion sensors. You can purchase extra cameras to be placed around the home to ensure that every inch of your property is covered.
                </p>
            </div>
        </div>

        <Footer />
    </body>
</html>
