---

import Header from '../../components/Header'
import Footer from '../../components/Footer'
import RequestQuoteForm from '../../components/RequestQuoteForm'
import whitePhone from '../../assets/white-phone.svg'
import yardSign from '../../assets/yard-sign-Opt.jpg'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../AlderFavicon.png" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content=" Home security has become one of the most important home features you can include in your house. Here’s how to find the best home security Waco TX. "/>
		<meta name="generator" content={Astro.generator} />
		<title>Home Security Dallas TX | Alder Home Security</title>
	</head>
	<body class="bg-white w-full flex flex-col items-center justify-center">

        <Header path='/states/texas' client:load />

        <br/>

        <div class="w-full h-[325px] bg-cover bg-center max-w-6xl" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1566930749/Texas.jpg")'
        }}>
        <div class="w-full h-full flex flex-col items-center gap-8 justify-center bg-neutral-800/[.50]">

            <h1 class="text-white font-medium w-4/5 md:w-1/2 text-3xl sm:text-5xl md:text-7xl text-center">Home Security Dallas TX</h1>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 hover:scale-105 transition duration-100 py-2 px-4 rounded-3xl border-2 z-10 border-white">
                <img alt="phone icon" src={whitePhone}/>
                <p class="text-white text-[15px]">Call Now 800-710-1289</p>
            </a>
            
        </div>
        </div>

        <div class="w-full max-w-6xl py-20 px-4 bg-white flex justify-center items-center ">

            <p class="text-[#58585B] leading-7 w-full md:w-4/5 lg:w-2/3 text-center">Alder Home Security serves Dallas, Texas residents by providing them with tools to protect the people they love and the property they own. With equipment and services that combine into personalized home security packages, we’ve staked our reputation on the principles of keeping things simple, affordable, and reliable. Today we’re delivering home security to our friends in Dallas, Texas, that won’t leave them worrying about financial security. We offer home security that doesn’t involve a weekend remodeling job. We think using home security shouldn’t require a special training course. And because we want our friends in the Dallas, Texas, area to have access to professional-grade home security—whether they own their homes or rent—we offer security kits that work in any kind of living space, big or small, rented or owned.</p>

        </div>

        <RequestQuoteForm client:load bg_color="bg-[#61798F]" />

        <br/>
        <br/>

        <div class="w-full max-w-6xl bg-cover" style={{
            backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/q_auto,f_auto/v1557271904/Map_Screen_Shot.png")'
        }} >
        <div class="w-full h-full bg-[#297CA3]/[.50] flex flex-col items-center py-4 px-6 gap-4 justify-evenly">
                <h2 class="flex flex-row items-center text-2xl sm:text-6xl text-white font-medium gap-2 bg-neutral-800/[.75] p-2 rounded-xl "> ALDER EQUIPMENT </h2>


                <div class=" w-[90%] md:w-2/3 flex flex-col items-center py-4 bg-neutral-800/[.85] ">

                    <h2 class="text-white text-2xl bg-neutral-800/[.85] p-2 text-center ">How we cover all the bases for Dallas residents.</h2>

                    <p class="text-white text-sm md:text-base w-full p-4 leading-6 ">
                        By choosing Alder Home Security, Dallas, Texas residents can go high-tech but still keep things low cost. Our custom security packages combine the touchscreen control of a high-end smart home, the professional monitoring of traditional security, and the convenience of play-and-play components to create the ideal security kit for modern lifestyles. For people considering security cameras but who aren’t yet sure which type, we offer a full suite of wireless security cameras with every feature to match whatever your needs may be. ßFor renters who like the idea of protecting their family without losing their security deposit, our systems are designed to be self- installed without any hole drilling or rewiring.
                    </p>

                    <br/>

                    <div class="w-full flex flex-col px-4 sm:px-8 gap-1">

                        <h3 class="text-white font-medium text-lg ">Security Controls</h3>

                        <p class="text-white text-sm leading-6">For convenient control options we provide an LED touchscreen panel with every package. It might look like a special upgrade, but it’s a standard feature. We also offer a mobile security app and a keyfob with easy, push-button commands for the most important security tasks.</p>

                    </div>

                    <br/>

                    <div class="w-full flex flex-col px-4 sm:px-8 gap-1">

                        <h3 class="text-white font-medium text-lg ">Security Cameras</h3>

                        <p class="text-white text-sm leading-6">Including video cameras lets you see inside and outside your home with just a few taps on your phone. Plus, ours come with two-way audio, mobile notifications, and customizable settings to make them useful for instant communication with family at home, monitoring pets during workdays, or getting motion-activated notifications when someone approaches your doorstep.</p>

                    </div>

                    <br/>

                    <div class="w-full flex flex-col px-4 sm:px-8 gap-1">

                        <h3 class="text-white font-medium text-lg ">Security Sensors</h3>

                        <p class="text-white text-sm leading-6">Since burglars are mostly unscrupulous opportunists looking for an easy score, not the criminal masterminds of TV drama our security sensors protect doors, windows, and interior spaces to send the opportunities a break-in artist looks for flying right out the window.</p>

                    </div>

                    <br/>

                    <div class="w-full flex flex-col px-4 sm:px-8 gap-1">

                        <h3 class="text-white font-medium text-lg ">Life Safety Features</h3>

                        <p class="text-white text-sm leading-6">Because a lot of our Dallas customers consider medical safety and protection from smoke, fire, and flood to be bases worth covering too, our affordable pricing and full suite of components give you an easy way to factor all those goals into one system.</p>

                    </div>

                </div>
        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-4xl bg-cover bg-center " style={{
            backgroundImage: `url(${yardSign})`
        }} >
        <div class="w-full h-full bg-neutral-800/[.75] md:bg-neutral-800/[.45] flex flex-col justify-center gap-4 py-8 px-4 md:px-12">

            <h3 class="text-white text-2xl">Installing Alder</h3>

            <h3 class="text-white text-4xl font-medium">Our Dallas, Texas customers love how easy this is</h3>

            <p class="text-white text-xs sm:text-sm font-medium md:w-1/2 leading-6">Whether you live in a single-family house, a duplex, condo, manufactured home, or a high-rise apartment, Alder knows how every living space comes with its own set of complexities. Our security kits let Dallas residents consider the number of exterior doors, the number of ground floor windows that open and close, and whether or not there’s a porch and yard outside your door to protect versus a hallway when assembling a custom package. And once your package arrives, installing and activating your Alder system takes about half an hour without the need to schedule a technician or a contractor.</p>

        </div>
        </div>

        <br/>
        <br/>

        <div class="w-full max-w-6xl flex flex-col items-center">
            <div class="w-full h-[250px] bg-cover" style={{
                backgroundImage: 'url("https://res.cloudinary.com/alder/image/upload/v1557333574/simple.jpg")',
                backgroundPosition: "center 85%"
            }} />

            <div class="w-full flex flex-col items-center justify-between gap-4 md:gap-0 md:flex-row px-4 py-12 ">

                <div class=" w-full md:w-[25%] flex flex-col gap-8 md:gap-4">
                    <h3 class="text-[#58585B] font-medium text-2xl text-center md:text-left ">What You Need in a Home Security System</h3>
                </div>

                <div class=" w-[90%] md:w-[65%] flex flex-col items-start gap-8">

                    <p class="text-[#58585B] text-sm"> <strong>The box is the only tool you need.</strong> Our package design arranges your security kit in the exact order for installing it.</p>

                    <p class="text-[#58585B] text-sm"> <strong>Simple instructions are built-in.</strong> The installation prompts programmed into your control panel walk you through every step.</p>

                    <p class="text-[#58585B] text-sm"> <strong>Support is available 24/7.</strong> Our professional team is available any time. Call for activation, troubleshooting, and 24/7 support. Monitoring goes live as soon as you call! Plus you can browse our online knowledge base to get all your questions answered. We have product info, installation tips, and FAQs in a searchable, user-friendly database.</p>

                </div>

            </div>

        </div>
        
    
        <Footer />

    </body>
</html>